@import "tailwindcss";

html, body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 8px;
}

:root {
  --background: #ffffff;
  --foreground: #171717;

  --accent: #F26B2B;
  --primary: #332623;
  --outline: #4C4C4C;
  --muted: #B2B2B2;
}

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-accent: var(--accent);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-muted: var(--muted);
  --color-outline: var(--outline)
}


body {
  /* background: var(--background);
  color: var(--foreground); */
  font-family: Arial, Helvetica, sans-serif;
}